# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# User Secrets or Local Settings
appsettings.Development.json
